# Visual Studio Code
.vscode

# Eclipse
.classpath

# Intellij
.idea
*.iml

# Maven Build settings
.project
.factorypath
.settings

# Maven Artifacts 
target
.flattened-pom.xml

# Mac
.DS_Store

# Notepad++
nppBackup

# Solace Message Utility
jszip*js
solclient*js
*/jszip*js
*/solclient*js